# секреты и переменные окружения
.env

# Виртуально окружение
.venv/

# Кэш интерпритатора Python
__pycache__/
*.pyc

# Настройки IDE PyCharm
.idea/

# Старые SQLite файлы
*.db

# Папка с логами
logs/